<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!--&lt;!&ndash; jobDetail &ndash;&gt;-->
    <!--<bean id="extendJobDetail"-->
    <!--class="org.springframework.scheduling.quartz.JobDetailFactoryBean">-->
    <!--<property name="jobClass" value="com.yjtse.service.job.MyJob"/>-->

    <!--<property name="durability" value="true"/> &lt;!&ndash; Jobs added with no trigger must be durable &ndash;&gt;-->
    <!--</bean>-->

    <!--&lt;!&ndash; trigger &ndash;&gt;-->
    <!--<bean id="extendTrigger"-->
    <!--class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
    <!--<property name="jobDetail" ref="extendJobDetail"></property>-->
    <!--<property name="cronExpression" value="0 * * * * ? 2033"></property>-->
    <!--</bean>-->

    <!--<bean name="myQuartzJobFactory" class="com.yjtse.service.job.MyQuartzJobFactory"></bean>-->
    <!--&lt;!&ndash; schedule factory &ndash;&gt;-->
    <!--<bean id="SpringJobSchedulerFactoryBean"-->
    <!--class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
    <!--<property name="triggers">-->
    <!--<list>-->
    <!--<ref bean="extendTrigger"/>-->
    <!--</list>-->
    <!--</property>-->
    <!--<property name="jobFactory" ref="myQuartzJobFactory"></property>-->
    <!--</bean>-->
</beans>