<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtse.dao.SocketDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <select id="findById" parameterType="String" resultType="com.yjtse.entity.Socket">
        SELECT
        id,
        socket_id,
        socket_name,
        owner_id,
        status,
        cron,
        available,
        status_tobe
        FROM
        business_socket
        WHERE
        socket_id = #{socketId}
    </select>

    <select id="findAllByUserId" parameterType="String" resultType="com.yjtse.entity.Socket">
        SELECT
        id,
        socket_id,
        socket_name,
        owner_id,
        status,
        cron,
        available,
        status_tobe
        FROM
        business_socket
        WHERE
          owner_id = #{userId}
    </select>

    <insert id="addSocket" parameterType="com.yjtse.entity.Socket" useGeneratedKeys="true" keyProperty="id">
        insert into business_socket(
        socket_id,
        socket_name,
        owner_id,
        status)
        values (#{socketId},#{socketName},#{ownerId},#{status})
    </insert>

    <update id="updateSocket" parameterType="com.yjtse.entity.Socket">
        UPDATE business_socket
        <trim prefix="SET" suffixOverrides=",">
            <if test="ownerId!=null and ownerId!=''">
                owner_id=#{ownerId},
            </if>
            <if test="socketName!=null and socketName!=''">
                socket_name=#{socketName},
            </if>

            <if test="status!=null and status!=''">
                status=#{status},
            </if>

            <if test="cron!=null and cron!=''">
                cron=#{cron},
            </if>
            <if test="available!=null and available!=''">
                available=#{available},
            </if>
            <if test="statusTobe!=null and statusTobe!=''">
                status_tobe=#{statusTobe}
            </if>
        </trim>
        WHERE
        socket_id = #{socketId}
    </update>

    <delete id="deleteById" parameterType="String">
        delete from
        business_socket
        where socket_id =#{socketId}
    </delete>

</mapper>