<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtse.dao.UserDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="findById" parameterType="String" resultType="com.yjtse.entity.User">
        SELECT
        id,
        user_id,
        mail,
        phone,
        user_name,
        user_pass,
        sex,
        icon,
        role
        FROM
        sys_user
        <where>
            <if test="userId!=null and userId!=''">
                user_id = #{userId}
            </if>
            <if test="mail!=null and mail!=''">
                OR mail = #{mail}
            </if>
            <if test="phone!=null and phone!=''">
                OR phone = #{phone}
            </if>
        </where>
    </select>

    <insert id="addUser" parameterType="com.yjtse.entity.User">
        insert into sys_user(
        user_id,
        mail,
        phone,
        user_name,
        user_pass,
        sex,
        icon,
        role)
        values (#{userId},#{mail},#{phone},#{userName},#{userPass},#{sex},#{icon},#{role})
    </insert>

    <update id="updateUser" parameterType="com.yjtse.entity.User">
        UPDATE sys_user
        <set>
            <if test="mail!=null and mail!=''">
                mail = #{mail},
            </if>

            <if test="phone!=null and phone!=''">
                phone = #{phone},
            </if>

            <if test="userName!=null and userName!=''">
                user_name = #{userName},
            </if>
            <if test="userPass!=null and userPass!=''">
                user_pass = #{userPass},
            </if>
            <if test="sex!=null and sex!=''">
                sex = #{sex},
            </if>
            <if test="icon!=null and icon!=''">
                icon = #{icon},
            </if>
            <if test="role!=null and role!=''">
                role = #{role},
            </if>
        </set>
        WHERE
        user_id = #{userId}
    </update>

</mapper>